doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='javascripts/jQ/jquery-ui.css')
    script(src='javascripts/jQ/jquery.js')
    script(src='javascripts/jQ/jquery-ui.js')
  body
    block content
