body {
    font-family: 'Raleway', sans-serif;
    background-color: #EBEBEB;
    letter-spacing: 0.02em;
    padding: 90px;
}

a {
    text-decoration: none;
}

p {
    font-size: 23px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

p.sort {
    font-size: 20px;
}

p.title {
    font-style: normal;
    font-family: 'Raleway', sans-serif;
    color: black;
}

p.label{
    font-weight: 500;
    margin-top: 2%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(5, 250px);
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    margin: 0px, 50px, 100px, 50px;
}

.bookBlock {
    background-color: #f3f3f3;
    color: rgba(0, 0, 0, 0.6);
}

.textBlock{
    position: relative;
    overflow-y: scroll;
    width: 90%;
    left: 5%;
    height: 150px;
}

.textBlock::-webkit-scrollbar {
    display: none;
    width: 6px;
}

.textBlock::-webkit-scrollbar-thumb {
    background-color: #C6C6C6;
    border-radius: 18px;
    height: 5px;
}


.btn {
    /*display: inline-block;
    margin-top: 30px;
        */
    position:relative;
    border: none;
    background-color: #D09E6F;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    padding: 5px 15px;
    cursor: pointer;
}

.btn.moreInfo{
    bottom: 10px;
    left: 5px;
}

.btn.special {
    background-color: #83919F;
}

.btn.add {
    position: relative;
    top: 35%;
    left: 5%;
    font-size: 23px;
    padding: 5px 15px;
    background: #83919F;
}

.aboutReader{
    cursor: pointer;
    border-radius: 30px;
    border: none;
    background-color: #ccc;
    position:relative;
    bottom: -20px;
}

.btn:hover {
    transform: scale(1.1);
}

.topBar {
    position: absolute;
    align-items: center;
    background-color: #BAC9D6;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
}

.Libraryname {
    font-size: 40px;
    letter-spacing: 0.22em;
}

.menu {
    display: flex;
    height: 70px;
    width: 100%;
    margin: 40px 0px 40px 0px;
    justify-content: space-between;
    align-items: center
}

button.btnSort {
    font-size: 20px;
    border: none;
    background-color: #ccc;
    border-radius:50%;
    cursor: pointer;
}

button.btnSort:before{
    position: relative;
    top: 4px;
    content: '\e900 ';
    font-family: 'icomoon', sans-serif;
}


.block {
    height: 30px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
}

.switch {
    position: relative;
    vertical-align: middle;
    display: inline;
    width: 40px;
    height: 25px;
    z-index: 10;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .2s;
}

input:checked + .slider {
    background-color: #83919F;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.infoBook{
    height: 400px;
}

#infoReader {
    border: none;
    background-color: #ededed;
}

input:invalid{
    color:red;
}